@import "../../../../styles/colors";

.loader-container {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-dual-ring {
  align-self: center;
}
.lds-dual-ring:after {
  content: "";
  display: block;
  top: 0;
  bottom: 0;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 6px solid;
  border-color: #5684e8 transparent #5684e8 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
