@import "../../../../styles/base";

:host {
  display: block;
}

.container {
  border-bottom: 1px solid $main-border-color;
  padding: 10px 0;

  &-main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ::ng-deep zi-button button {
      font-size: $font-small;
      height: 30px;
    }
  }


}
