<div class="container">

  <div class="container-top">
    <h1 class="header">{{selectedMember?.label ? selectedMember?.label : 'Please select a member'}}</h1>
  </div>

  <div class="container-bottom">
    <zi-list [showLoader]="membersIsLoading$ | async" [headerText]="'Members'" [items]="listItems$ | async"
      [selectedItem]="selectedMember" (itemSelected)="memberSelected($event)">
    </zi-list>
    
    <zi-member-hierarchy *ngIf="(membersIsLoaded$ | async) && selectedMember"></zi-member-hierarchy>
   
  </div>
</div>